 nav, .contenedor, footer,article, header, .principal, aside{
     max-width: 93%;
     margin: auto;
     text-align: center;
     border-radius: 0.3em;
 }
 
 nav{
    background-color: aqua;
}
.contenedor{
    background-color: blueviolet;
}
footer{
    background-color: rgb(160, 107, 107);
}
article {
    background-color: rgb(231, 222, 222);
}
header{
    background-color: rgb(139, 111, 111);
}
.principal{
    background-color: rgb(41, 112, 45);
    display: inline-block;
    width: 65%;
}
aside{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 28%;
}